# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
build/
dist/
*.egg-info/
*.egg

# Editor files
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Local environment files
.env
.env.*
*.sqlite3
.pytest_cache/
pip-selfcheck.json

# Streamlit local secrets
.streamlit/secrets.toml

# Chainlit
.files/

# Build artefacts
build/
